<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yoctoazel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yoctoazel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <yoctoazel.Properties.Settings>
            <setting name="rotor_controls_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="myCallsign" serializeAs="String">
                <value />
            </setting>
            <setting name="myGrid" serializeAs="String">
                <value />
            </setting>
            <setting name="display_moon_position_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="track_moon_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="track_moon_on_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advanced_az_counter_rotate_delay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="advanced_el_counter_rotate_delay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="motor_az_control_min_speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="motor_az_control_ramp" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="motor_az_timeout" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="motor_az_rev_brake_delay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="motor_el_control_max_speed" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="motor_el_control_min_speed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="motor_el_control_ramp" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="motor_el_timeout" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="motor_el_rev_brake_delay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="az_limit_ccw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="az_limit_cw" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="el_limit_ccw" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="el_limit_cw" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="path_wsjt" serializeAs="String">
                <value>C:\WSJT-10.0\azel.dat</value>
            </setting>
            <setting name="motor_el_limit_upper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="motor_el_limit_lower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="myMagDecl" serializeAs="String">
                <value>0</value>
            </setting>
        </yoctoazel.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <yoctoazel.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>v .01 beta</value>
            </setting>
            <setting name="motor_az_control_max_speed" serializeAs="String">
                <value>0</value>
            </setting>
        </yoctoazel.Properties.Settings>
    </applicationSettings>
</configuration>